{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "warnOnUnsupportedTypeScriptVersion": false,
    "parser": {
      // Script parser for `<script>`
      "js": "espree",

      // Script parser for `<script lang="ts">`
      "ts": "@typescript-eslint/parser",

      // Script parser for vue directives (e.g. `v-if=` or `:attribute=`)
      // and vue interpolations (e.g. `{{variable}}`).
      // If not specified, the parser determined by `<script lang ="...">` is used.
      "<template>": "espree"
    }
  },
  "rules": {
    "no-console": "error",
    "vue/max-attributes-per-line": [
      "error",
      {
        "singleline": {
          "max": 1
        },
        "multiline": {
          "max": 1
        }
      }
    ],
    "vue/singleline-html-element-content-newline": "off"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "extends": ["prettier", "plugin:vue/vue3-recommended"],
  "plugins": ["import"]
}
